<!--<button ng-click="getGroups(classId)">get all</button>-->
<!--<input ng-model="group.groupName">-->
<!--<button ng-click="createGroup(classId)">add group</button>-->

<!--<div ng-repeat="group in groups">-->
<!--{{group.groupName}}-->

<!--</div>-->
GROUP
classroom_detail + {{classId}}
<br>
<button ng-click="getGroups(classId)">get all</button><br>
<div>
    <button data-toggle="modal" data-target="#myModalCreat">Create Group</button>

    <div id="myModalCreat" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Group</h4>
                </div>
                <div class="modal-body">
                    <form class="form-signin">
                        <input ng-model="group.groupName" type="text" id="inputGroupname"
                               class="form-control" placeholder="Group" required autofocus>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block " ng-click="createGroup(classId)">Create
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br>

<div ng-repeat="group in groups">

    <button data-toggle="modal" data-target="#myModal" ng-click="setSelected(group)"> {{group.groupName}} +
        {{group.groupId}}
    </button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Group: {{selectedData.groupName}}</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-lg btn-primary btn-block " ng-click="addUserTogroup(selectedData.groupId)"
                            data-dismiss="modal">
                        Join
                        Group
                    </button>
                    <button class="btn btn-lg btn-primary btn-block " ng-click="userLeavegroup(selectedData.groupId)"
                            data-dismiss="modal">
                        Leave Group
                    </button>
                    <button class="btn btn-lg btn-default btn-block " data-dismiss="modal">Cancel
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>


------------------------------

<hr/>
<div>
    <label>Create New Post</label>
    <input type="text" ng-model="newPostInClass">
    <button type="submit" ng-click="createPost(classId)">Create</button>
    {{newPostInClass1}}
</div>
<hr/>
<label>All Post In Class</label>
<div class="btn btn-primary" ng-click="getAllPostInClass(classId)">Lay post</div>
<div>
    <ul>
        <li ng-repeat="post in posts">
            <a href="#"  editable-text="post.postContent"
               onaftersave="editPost(post)">{{post.postContent}} + {{post.postId}}</a>
            <button class="btn btn-danger" ng-click = "deletePostClass(post)">Xóa</button>
        </li>
    </ul>
</div>