<div>
    <!--<button id="clickShow" ng-click="getgroupDetail(groupId)">Detail Group</button>-->
    <p>{{groupName}} {{groupId}}
    </p>
    <br>

    <hr/>
    <div>
        <label>Create New Post</label>
        <input type="text" ng-model="newPostInGroup">
        <button type="submit" ng-click="createPost(groupId)">Create Post</button>
    </div>

    <hr/>
    <label>All Post In Group</label>
    <!--<div class="btn btn-primary" ng-click="getAllPostInGroup(groupId)">Show All Post</div>-->
    <div>
        <ul>
            <li ng-repeat="post in posts">
                <button ng-click="showPostContent(post.postId)">{{post.postContent}} + {{post.postId}}</button>
                <button class="btn btn-danger" ng-click="deletePostClass(post)">Xóa</button>
            </li>
        </ul>
    </div>

</div>
